<h1>Administrar Telas</h1>

<form action="../administrar">
    <input type="submit" value="Volver al dashboard" />
</form>
<br>

<form action="/ingresar_cojin">
    <input type="submit" value="Agregar Tela" />
</form>

{% if a %}
	{% if b %}
    <script> alert("Cambios Guardados");</script>
	{% else %}
	<script> alert("Este material tiene pedidos, no puede ser eliminado");</script>
	{% endif %}

{% else %}
	{% if b %}
    <script> alert("material eliminado");</script>
	{% else %}
	{% endif %}

{% endif %}

<hr>

{% for elem1 in telas %}

<form action="" method="POST">
<div id="verde" style="border-width:2px;">

<img src="../static/telas/{{elem1[0]}}.jpeg" height="40%" width="30%"/>
<div style="float:right;width:68%;height:40%">
<p>Nombre del producto: <input type="varchar" name="nombre" min="0" max="30" value= "{{elem1[1]}}"></p>
<p>Precio Metro Cuadrado: <input type="number" name="precio" min="0" max="100000" value="{{elem1[2]}}">
<p>Estado: <input type="text" name="estado" value="{{elem1[3]}}">
<p>Codigo producto: <input type="text" name="codigo_id" value="{{elem1[0]}}" readonly></p>

<p><input type="submit" value="Guardar" name="boton">  <input type="submit" value="Eliminar" name="boton"></p>
</div>
<p></p>
<hr>
</form>
{% endfor %}