<h1> DASHBOARD ADMINISTRAR WEB </h1>

<h2>Administrar Cojines</h2>

<form action="/administrar_cojines">
    <input type="submit" value="Administar Cojines" />
</form>


<h2> LISTA DE COMPRAS DE PRODUCTOS:</h2>
<hr>
{% for elem1 in datos %}

<form action="" method="POST">
<div id="verde" style="border-width:2px;">
<p>Codigo Compra: <input type="text" name="codigo_id" value="{{elem1[0]}}" readonly></p>
<p>Nombre: {{elem1[1]}} - Apellido: {{elem1[2]}} - Rut: {{elem1[3]}}</p>
<p>Email: {{elem1[4]}} - Relefono: {{elem1[5]}} - Ciudad: {{elem1[6]}}  - Comuna: {{elem1[7]}}</p>
<p>Direccion: {{elem1[8]}} - Fecha de compra: {{elem1[12]}} </p>
<p> Producto: {{elem1[16]}} - Cantidad comprada: {{elem1[10]}} - Pagado: {{elem1[13]}} </p>

<p>imagen de FACTURA y Producto: <a href="/administrar/{{elem1[0]}}/{{elem1[14]}}"> FACTURA IMAGEN </a></p>

<p><b>ESTADO:</b> <p><input type="text" name="estado" value="{{elem1[11]}}" readonly></p> - <input type="submit" value="Finalizar" name="boton">  <input type="submit" value="Cancelar" name="boton"> <input type="submit" value="Eliminar" name="boton"> </p>

</div>
</form>
<hr>
{% endfor %}