<html>
<h1>DATOS:</h1>
<form action="../index">
    <input type="submit" value="Volver a la pagina principal" />
</form>
<form action="/ver_cojines">
    <input type="submit" value="Volver atras" />
</form>

{% for elem1 in datos %}
<div style="width:30%; height:400px; float:left;">

<img src="../static/cojines/{{elem1[0]}}.jpeg" height="100%" width="100%"/>

</div>

<div style="width:70%; height:400px; float:right ">
<h3>Producto:</h3>
<p><b>{{elem1[1]}} </b></p>
<p>${{elem1[4]}} CLP c/u  </p>

<h3>Detalles:</h3>
<p>Altura: {{elem1[7]}} cm</p>
<p>Ancho: {{elem1[8]}} cm</p>
<p>Relleno: {{elem1[11]}} </p>
<p>Tipo de tela: {{elem1[13]}} </p>
<p>Cantidad: {{elem1[3]}} unidades </p>

</div>
{% endfor %}

</html>