<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
h1 {
  text-align: center;
}
</style>
  </head>
  <body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="../index">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../ver_cojines">Ver Cojines</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="../armatucojin">Arma tu cojin</a>
        </li>
      </ul>
      <form class="form-inline" action="../miscompras">

        <input class="form-control mr-sm-2" type="number" name="rut" placeholder="RUT"/>
        <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Ver mis compras"/>

      </form>
    </div>
  </nav>

<h1>PRODUCTO A COMPRAR: </h1>

{% for elem1 in datos %}
<div style="width:30%; height:400px; float:left;">

<img src="../static/cojines/{{elem1[0]}}.jpeg" height="100%" width="100%"/>

</div>

<div style="width:70%; height:400px; float:right ">
<h3>Producto:</h3>
<p><b>{{elem1[2]}} </b></p>
<p><b>PRECIO TOTAL A PAGAR:</b> ${{cantidad * elem1[5]}} CLP  </p>

<h3>Detalles:</h3>
<p><b>Altura:</b> {{elem1[8]}} cm</p>
<p><b>Ancho:</b> {{elem1[9]}} cm</p>
<p><b>Relleno:</b> {{elem1[12]}} </p>
<p><b>Tipo de tela:</b> {{elem1[14]}} </p>
<p><b>Cantidad a comprar:</b> {{cantidad}} unidades </p>

</div>
{% endfor %}

<b>INSERTE SUS DATOS Y LA TRANSFERENCIA BANCARIA:</b>

<form action="" method="POST">

NOMBRE: <input type="varchar" name="nombre" min="1" max="20">
<br>
APELLIDO: <input type="varchar" name="apellido" min="1" max="20">
<br>
RUT:  <input type="number" name="rut" >
<br>
MAIL:  <input type="varchar" name="mail" min="0" max="100">
<br>
NUMERO TELEFONICO:  <input type="telefono" name="telefono" min="0" max="100">
<br>
CIUDAD: <input type="varchar" name="ciudad" min="0" max="230">
<br>
COMUNA:
<select name="comuna">
  <option value="Cerrillos ">Cerrillos</option>
  <option value="Cerro Navia">Cerro Navia</option>
  <option value="Conchali ">Conchali</option>
  <option value="El bosque">El bosque</option>
  <option value="La florida">La florida</option>
  <option value="Macul ">Macul</option>
  <option value="Las condes">Las condes</option>
  <option value="La reina">La reina</option>
  <option value="Lo prado">Lo prado</option>
</select>
<br>
DIRECCION: <input type="varchar" name="direccion" min="0" max="230">
<br><br>
ADJUNTE TRANSFERENCIA: <input type="file" name="adjunto" accept=".pdf,.jpg,.png" multiple />

<hr>

<input type="submit" value="COMPRAR">
</form>

</body>
</html>