<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<style>
h1 {
  text-align: center;
}

</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="index">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="ver_cojines">Ver Cojines</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="armatucojin">Arma tu cojin</a>
        </li>
      </ul>
      <form class="form-inline" action="/miscompras">

        <input class="form-control mr-sm-2" type="number" name="rut" placeholder="RUT"/>
        <input class="btn btn-outline-light my-2 my-sm-0" type="submit" value="Ver mis compras"/>

      </form>
    </div>
  </nav>


<div>
  
<h1> COMPRAS ASOCIADAS AL RUT INGRESADO:</h1><br>
 
  <br><br>

</div><br>

{% for elem1 in compras %}
<div id="verde" style="border-width:2px;border-style:solid;border-color:black;">
<img src="../static/cojines/{{elem1[9]}}.jpeg" height="40%" width="30%"/>
<div style="float:right;width:68%;height:40%">
<p><b>Datos:</b></p>
<p><b>Nombre del producto:</b>{{elem1[16]}}</p>
<p><b>tipo:</b> {{elem1[15]}} - relleno: {{elem1[26]}} - tela: {{elem1[28]}}</p>
<p><b>altura:</b> {{elem1[22]}} cm - largo: {{elem1[23]}} cm </p>
<p><b>cantidad comprada:</b> {{elem1[10]}} - precio unitario (ACTUAL): {{elem1[19]}} -PRECIO PAGADO: {{elem1[13]}} CLP</p>
<p><b>Estado:</b> {{elem1[11]}} - Fecha de compra: {{elem1[12]}}</p>
<p><b>imagen de FACTURA:</b> <a href="/miscompras/rut={{elem1[3]}}/{{elem1[0]}}/{{elem1[14]}}"> FACTURA IMAGEN </a></p>
</div>
<p></p>
{% endfor %}

<hr>

</div><br>
 <br><br>
<h1> PEDIDOS ASOCIADOS AL RUT INGRESADO:</h1><br>

{% for elem1 in pedidos %}
<div id="verde" style="border-width:2px;border-style:solid;border-color:black;">
<img src="data:{{elem1[27]}};base64, {{elem1[26]}}" height="40%" width="30%" />
<div style="float:right;width:68%;height:40%">
<p><b>Datos:</b></p>
<p><b>Nombre del producto:</b>  Cojin Armado</p>
<p><b>relleno:</b>  {{elem1[23]}} - tela: {{elem1[19]}}</p>
<p><b>altura:</b>  {{elem1[15]}} cm - largo: {{elem1[16]}} cm </p>
<p><b>cantidad pedida:</b>  {{elem1[10]}}</p>
<p><b>Estado:</b>  {{elem1[11]}} - Fecha de pedido: {{elem1[12]}}</p>
</div>
<p></p>
{% endfor %}

</body>
</html>




















